@font-face {
    font-family: Arial; 
    src: url(../fonts/arial.ttf); 
}
@font-face {
    font-family: 'Amazon Ember';
    src: url(../fonts/amazonEmber.ttf);
}
.top_nav_burger {
    min-height: 60px;
    background-color: #131921;
}
#burger_link {
    float: left;
    margin: 10px 7px 10px 7px;
    width: 36px;
    height: 38px;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#burger_link:hover {
    border: 1px solid #fff;
}
#burger_link li {
    width: 20px;
    height: 2px;
    background-color: #fff;
}
#burger_link li:first-child {
    margin-top: 10px;
}
#burger_link li {
    margin-top: 6px;
}
#burgerlink.hide {
    display: none;
}
.sidebar_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}
.sidebar_bg.open {
    visibility: visible;
    opacity: 1;
}
.sidebar_bg #close_btn {
    position: fixed;
    background-position: -190px -288px;
    left: 380px;
    top: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-1x_optimized_layout1._CB468670774_.png);
}
.sidebar_bg.hide {
    visibility: hidden;
}
.sidebar_content {
    position: fixed;
    top: 0;
    left: -100%;
    width: 365px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    background-color: #fff;
    height: 100%;
    box-shadow: 4px 0 10px 0 rgba(0,0,0,.4);
    transition: left .4s ease;
    font-family: 'Amazon Ember', Arial, sans-serif;
    overflow-y: scroll;
}
.sidebar_content.open {
    left: 0;
}
.sidebar_content .hmenu-customer-profile {
    position: fixed;
    width: 365px;
    background-color: #232f3e;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 3;
}
.sidebar_content .hmenu-customer-profile .avatar_icon {
    margin: 0 10px 0 36px;
    background-position: -137px -340px;
    height: 25px;
    width: 27px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-1x_optimized_layout1._CB468670774_.png);
}
.sidebar_content .hmenu-customer-profile .link_sign_in a {
    text-decoration: none;
    font-size: 19px;
    line-height: 25px;
    color: #fff;
    overflow: hidden;
}
.sidebar_content .hmenu-content {
    position: relative;
    overflow-x: hidden;
    padding: 70px 0 25px 0;
}
.sidebar_content .hmenu-content li a{
    text-decoration: none;
    color: #000;
    padding: 15px 20px 13px 36px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
}
.sidebar_content .hmenu-content li a:hover,
.sidebar_content .hmenu-content li a:visited{
    background-color: #eaeded;
}
.sidebar_content .hmenu-content li a i.arrow_icon{
    margin-left: auto;
    width: 10px;
    height: 14px;
    background-position: -166px -288px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-1x_optimized_layout1._CB468670774_.png);
}
/* .sidebar_content .hmenu-content li a i.arrow_icon:hover{
    color: #fff;
} */
.sidebar_content .hmenu-content li a i.language_icon{
    background-position: -77px -51px;
    width: 15px;
    height: 15px;
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/InternationalCustomerPreferencesNavAssets-icp_sprite-0b528ccc99b2eed18447291de6df851bc2c6fe68._V2_.png);
    margin: 0 11px 0 0;
}
.sidebar_content .hmenu-content li a i.country_icon{
    background-position: -54px -108px;
    width: 18px;
    height: 12px;
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/InternationalCustomerPreferencesNavAssets-icp_sprite-0b528ccc99b2eed18447291de6df851bc2c6fe68._V2_.png);
    margin: 2px 11px 0 0;
}
.sidebar_content .hmenu-content li:first-child {
    color: #969397;
    font-size: 14px;
    padding: 5px 20px 13px 36px;
}

.sidebar_content .hmenu-content li.help-settings {
    padding: 13px 20px 13px 36px;
    color: #969397;
    font-size: 14px;
}
.sidebar_content .hmenu-content li.line {
    border-bottom: 1px solid #d5dbdb;
    padding: 2px 0 0 0;
    margin: 0;
}
